body {
background-color: #00ffea;
font-family: 'Arial', sans-serif;
line-height: 1.6;
margin: 0;
padding: 0;
display: flex;
}
.container {
display: flex;
flex-direction: column;
gap: 7px;
position: relative;
color: white;
margin: 2%;
width: 15vw;
height: 7vh;
}
.container:hover{
  box-shadow: 5px 3px 48px 9px rgba(0, 247, 255, 0);
}
#calculator:hover{
  box-shadow: 5px 3px 48px 9px rgba(0, 247, 255, 0);
}
#calculator{
  width: 60vw !important;
}
.container .label {
font-size: 15px;
padding-left: 10px;
position: absolute;
top: 13px;
transition: 0.3s; /* Add transition property for smoother effect */
pointer-events: none;
color: #fff;
}
.input {
width: 20vw;
height: 7vh;
border: none;
outline: none;
padding: 0px 7px;
border-radius: 6px;
color: #fff;
font-size: 15px;
background-color: transparent;
box-shadow: 3px 3px 10px rgb(0, 95, 139), -1px -1px 6px rgba(3, 0, 179, 0.4);
transition: 0.3s;
}
#callculate{
  background: #0ba7d68f;
  color: #00ffea;
  width: 100%;
  height: 5vh;
  text-align: center;
  width: 69vw;
}
#callculate:hover{  
  box-shadow: 5px 3px 48px 9px rgba(0, 247, 255, 0);
}
#callculatetext:hover{  
  box-shadow: 5px 3px 48px 9px rgba(0, 247, 255, 0);
}
#callculatetext{
  background: #0ba7d68f;
  color: #00ffea;
  width: 69vw;
  height: 5vh;
  text-align: center;
  border-radius: 0% 0% 4% 4%;
}
.input:focus {
border: 2px solid transparent;
color: #fff;
box-shadow: 3px 10px rgb(0, 95, 139), -1px -1px 6px rgba(3, 0, 179, 0.4),
  inset 3px 10px rgb(0, 95, 139), -1px -1px 6px rgba(3, 0, 179, 0.4);
}

.container .input:valid ~ .label,
.container .input:focus ~ .label {
transition: 0.3s;
padding-left: 2px;
transform: translateY(-35px);
}

.container .input:valid,
.container .input:focus {
box-shadow: 3px 10px rgb(0, 95, 139), -1px -1px 6px rgba(3, 0, 179, 0.4),
  inset 3px 3px rgb(0, 122, 179), -1px -0.5px 6px rgba(5, 3, 110, 0.4);
}
header{
background-color: #18c5bc;
width: 70vw;
height: 10vh;
text-align: center;
}
#divss {
display: flex;
align-items: center;
justify-content: center;
width: 100vw;
}

.content {
width: 20vw;
max-height: 40vw;
min-height: 20vh;
max-width: 20vw;
min-width: 20vw;
height: 20vh;
margin-top: 20px;
margin-right: 30px;
margin: 0;
padding: 0;
background-color: #00b7ff;
}
#cont {
width: 100dvw;
min-height: 50vw;
margin-left: 10%;
}

.addele {
width: 11%;
height: 75%;
margin: 0.7%;
cursor: pointer;
background-size: cover;
background-position: center;
background-image: url(addele.png);
box-shadow: 0px 0px 48px 7px rgba(59, 48, 151, 0.548);
border-radius: 1%;
}
.addelediv{
width: 11%;
height: 75%;
margin-right: 4%;
margin-top: 3%;
margin-bottom: 3%;
cursor: pointer;
background-size: cover;
background-position: center;
box-shadow: 0px 0px 48px 7px rgba(59, 48, 151, 0.548);
border-radius: 1%;
}
.addeleList1 {
display: none;
position: absolute;
background: rgb(2, 27, 39);
color: white;
padding: 10px;
height: auto;
width: 60vw;
display: flex;
flex-wrap: wrap;
justify-content: space-between;
align-items: center;
box-shadow: 10px 10px 48px 13px rgba(39, 27, 148, 0.548);
margin: 0;
padding: 0;
}
h2 {
color: #15C4D1;
}

#note {
color: #15C4D1;
}

.category{
background-color: #007bff;
color: #15C4D1;
box-shadow: 5px 3px 48px 9px rgba(0, 247, 255, 0.226);
border-radius: 2%;
margin: 3%;
font-size: 120%;
padding: 3%;
}
.category:hover{
  box-shadow: 5px 3px 48px 9px rgba(0, 247, 255, 0.425);
}
#dupeList:hover{
  box-shadow: 5px 3px 48px 9px rgba(0, 247, 255, 0);
}
#des {
color: rgb(255, 0, 0);
}
.mode {
color: rgb(255, 255, 255);
display: flex;
flex-wrap: wrap;
height: 100vh;
min-width: 20vw;
max-width: 25vh;
width: 30vw;
min-width: 29vw;
cursor: pointer;
background-color: #01121a;
margin-right: 0px;
flex-direction: column;
position: fixed;
justify-content: center;
align-items: center;
}
.h2 {
height: auto;
width: 69vw;
text-align: center;
background-color: #01121a;
box-shadow: 10px 10px 48px 21px rgba(39, 27, 148, 0.548);
margin: 0;
margin-top: 1%;
margin-bottom: 1%;
padding: 0;
border-radius: 1%;
}
.holdside {
width: 65vw;
min-width: 69vw;
height: 30vh;
min-height: 20lvh;
max-height: 40dvh;
background: #0ba7d68f;
display: flex;
flex-wrap: wrap;
justify-content: center;
align-items: center;
box-shadow: 0px 0px 40px 5px rgba(25, 0, 255, 0.76);
margin: 0;
padding: 0;
border-radius: 1%;
}
#serch{
align-items: center;
display: flex;
margin-left: 10px;
margin-right: 10px;
padding-left: 20px;
padding-right: 20px;
margin-top: 20px;
height: 20vh;
background: #03a9f4;
}
* {
transition: color 2s;
margin: 0;
padding: 0;
}

.navs {
margin: 3%;
cursor: pointer;
}

.contentot {
display: none;
}
.card {
width: 80%;
min-height: 30%;
max-height: 50%;
border-radius: 4px;
display: flex;
gap: 1px;
flex-direction: column;
}

.card h6 {
height: 17%;
flex: 1;
overflow: hidden;
cursor: pointer;
border-radius: 4px;
transition: all .5s;
background: #01042c;
border: 1px solid #00b7ff;
display: flex;
justify-content: center;
align-items: center;
margin: 5px;
color: #5659ff;
font-size: auto;
min-height: 15%;
max-height: 20%;
min-width: 80%;
max-width: 85%;
text-align: center;
}

.card h6:hover {
background-color: whitesmoke;
box-shadow: 5px 3px 48px 10px rgba(39, 27, 148, 0.842);
}

.card h6 span {
text-align: center;
transition: all .5s;
text-transform: uppercase;
color: #5659ff;
letter-spacing: .1em;
}

.itemsot {
box-shadow: 5px 3px 48px 9px rgba(39, 27, 148, 0.548);
}

h1 {
color: #007bff;
font-size: 32px;
margin-bottom: 20px;
}

.feature-section {
background-color: #2f3699b6;
padding: 20px;
border-radius: 10px;
margin-bottom: 30px;
text-align: left;
height: 100%;
margin: 0.3%;
width: 64vw;
}
.kinda:hover{
  box-shadow: 0px 0px 40px 5px rgba(25, 0, 255, 0);
}
#welcome{
height: 150%;
background-color: #03a9f4;
color: #01121a;
width: 64vw;
padding: 20px;
margin: 0.5%;
border-radius: 10px;
text-align: left;
margin-bottom: 30px;
}
.feature-section h2 {
font-size: 24px;
margin-bottom: 10px;
margin-top: 15px;
color: #15C4D1;
}
.kinda{
display: flex;
flex-direction: column;
min-width: 50vw;
}
p {
margin-bottom: 20px;
line-height: 1.6;
color: #15c5d1cb;
}

#discordContact {
color: #28a745;
font-weight: bold;
margin-top: 10px;
}

#calculatorLink, #vaklueListLin {
color: #133641;
font-weight: bold;
margin: 0 10px;
margin-top: 10px;
}
.card:hover{
  box-shadow: 0px 0px 40px 5px rgba(25, 0, 255, 0);
}
#connectSection {
background-color: #007bff;
color: #fff;
padding: 20px;
border-radius: 10px;
margin-top: 30px;
width: 20;
}
h1:hover{
color: #00ffdd;
cursor: default;
}
h2:hover{
color: #00ffdd;
cursor: default;
}
h3:hover{
color: #00ffdd;
cursor: default;
}
h4:hover{
color: #00ffdd;
cursor: default;
}
h5:hover{
color: #00ffdd;
cursor: default;
}
h6:hover{
color: #00ffdd;
cursor: default;
}
p:hover{
color: #00ffdd;
cursor: pointer;
}
div{
transition: box-shadow 2s;

}
div:hover{
box-shadow: 0px 0px 50px 5px rgba(25, 0, 255, 0.548);
} 